.black{
    background-color: black;
    color: white;
}
@font-face {
    font-family: PoiretOne;
    src: url("../fonts/PoiretOne-Regular.ttf");
    }
body{
    color:black;
    font-family: PoiretOne
}
.container {
    width: none !important;
    margin:0 auto;
    max-width: 800px;
  }
.noscroll::-webkit-scrollbar{
    height: 0%;
}

div::-webkit-scrollbar {
    height: 0%;               /* width of the entire scrollbar */
}

.separ{
    border-bottom: 2px solid #008080 ; 
    margin-bottom: 10px; 
    width: 100%
}

.green{
    background-color: #008080;
    color:white;
}

.green-font{
    color:#008080;
}

.tab-pane div{
    overflow-y: auto;
}

.nav-link{
    color: #008080;
}

.row .no-gutter{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0rem;
}

.nav-pills .nav-link.active{
    color: white;
    background-color: #008080;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}
  
.btn-circle i {
    position: relative;
    top: -1px;
}
  
.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}
  
.btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
}
  
.btn-circle-xl {
    width: 105px;
    height: 105px;
    line-height: 105px;
    font-size: 1.3rem;
}
  
.collapse{
    margin-bottom: 1.2rem;
}

.card-img-top{
    height:15rem;
}
.left-50{
    left:50%
}
.div {
    width: 70px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  p.groove {border-style: groove;}

  form {
    border: 3px solid #f1f1f1;
  }
  .circle {
    /* (A) SAME WIDTH & HEIGHT - SQUARE */
    width: 200px;
    height: 200px;
   
    /* (B) 50% RADIUS = CIRCLE */
    border-radius: 50%;
   
    /* (C) BACKGROUND COLOR */
    background: #fff;
  }
  .button2 {border:2px solid #387ef5;background: #fff;color:#387ef5;} 
  .btn-outline{
    border:2px solid #387ef5;
    background: #fff;color:#387ef5
  }
  .device{
      color:#666;
      font-weight: 700;
      font-family: PoiretOne
  }

  .col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #fff;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}