.black{
    background-color: black;
    color: white;
}
body{
    color:black;
}
.noscroll::-webkit-scrollbar{
    height: 0%;
}

div::-webkit-scrollbar {
    height: 0%;               /* width of the entire scrollbar */
}

.separ{
    border-bottom: 2px solid #008080 ; 
    margin-bottom: 10px; 
    width: 100%
}

.green{
    background-color: #008080;
    color:white;
}

.green-font{
    color:#008080;
}

.tab-pane div{
    overflow-y: auto;
}

.nav-link{
    color: #008080;
}

.row .no-gutter{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0rem;
}

.nav-pills .nav-link.active{
    color: white;
    background-color: #008080;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}
  
.btn-circle i {
    position: relative;
    top: -1px;
}
  
.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}
  
.btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
}
  
.btn-circle-xl {
    width: 105px;
    height: 105px;
    line-height: 105px;
    font-size: 1.3rem;
}
  
.collapse{
    margin-bottom: 1.2rem;
}

.card-img-top{
    height:15rem;
}
.left-50{
    left:50%
}
.div {
    width: 70px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  p.groove {border-style: groove;}

  form {
    border: 3px solid #f1f1f1;
  }
  .circle {
    /* (A) SAME WIDTH & HEIGHT - SQUARE */
    width: 200px;
    height: 200px;
   
    /* (B) 50% RADIUS = CIRCLE */
    border-radius: 50%;
   
    /* (C) BACKGROUND COLOR */
    background: #bcd6ff;
  }
  .button2 {background-color: #008CBA;} 